<html>
<body>
	<div id="footer" th:fragment="footer" >
		<div class="p-3 mb-2 bg-secondary text-white  text-center">
			<h3>2020 @SinNombre.com TODOS LOS DERECHOS RESERVADOS</h3>
			<h4>INTEGRANTES : Castillo, Jorge | Coria, Jorge, | Velarde,
				Marcia | Toconas, Juan</h4>
		</div>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	</div>
</body>
</html>