body{
   background-image: url("/images/fondoReg.png");
	background-repeat: no-repeat; /*  La imagen no se repetira  */
	background-size: cover; /*  La imagen cubrira el contenedor  */
	background-attachment: fixed; /*  La imagen quedara fija en el fondo y no se movera  */
}

.formulario{
    margin:0 auto;
    margin-top:25%;
    margin-bottom: 25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 6px 6px 6px black;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
   box-shadow: 6px 6px 6px black;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button{
    width: 70%;
    margin: 5px 0 25px;
    box-shadow: 6px 6px 6px black;
}

input{
	box-shadow: 6px 6px 6px tomato;
}

.fondoUno{
	 box-shadow: 6px 6px 6px black;
}

hr {
	background-color: blue;
	margin: 2em;
	box-shadow: 6px 6px 6px blue;
}

.texto{
	font-size: 100%;
	font-family: cursive;
	font-weight: bolder;
}

.borde{
	box-shadow: 6px 6px 6px black;
}
