.fondo{
	background-image: url("/images/fondoReg.png");
	background-repeat: no-repeat; /*  La imagen no se repetira  */
	background-size: cover; /*  La imagen cubrira el contenedor  */
	background-attachment: fixed; /*  La imagen quedara fija en el fondo y no se movera  */
}

.fondoUno{
	 background: rgba(34,34,34,0.75); !important;
	 box-shadow: 6px 6px 6px black;
}

.cabecera{
	margin: auto;
	width: 10%;
}


.transparencia{
	 background: rgba(34,34,34,0.75); !important;
	 border-radius: 10em;
	 box-shadow: 6px 6px 6px black;
}

div > label {
	font-family: cursive;
	color: white;
	border-radius: 2em;
	margin-top: 1em;
	text-align: center;
}

.tituloLista{
	font-family: cursive;
	color: white;
	border-radius: 2em;
	width: 33%;
	margin: 1em auto;
}

.fondoLista select {
	width: 100%;
	border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
}

hr {
	background-color: tomato;
	margin: 2em;
	box-shadow: 6px 6px 6px tomato;
}

span{
	box-shadow: 6px 6px 6px tomato;
}

input{
	box-shadow: 6px 6px 6px tomato;
}

select {
	box-shadow: 6px 6px 6px tomato;
}


