/* ESTILOS PARA TODAS LAS FUENTES */
.fuente{
	font-family: 'Open sans';
	color: black;
}

/* ESTILOS PARA EL FONDO DE LOS FORMULARIOS */
.fondoVer1{
	color: white;
	background-color: #bbedfb;
	border: 2px #5bc0de solid;
}

/* ESTILOS PARA LOS SELECT */
select{
	size: 101%
}

/* ESTILOS PARA LOS LABEL DE LOS FORMULARIOS */
div > label {
	color: white;
	border-radius: 2em;
	margin-top: 1em;
	text-align: center;
}

/* ESTILOS PARA LOS IMPUT DE LOS FORMULARIOS*/
input{
	border-bottom: 2px black solid;
}

/* ESTILOS PARA LOS INPUT DE LOS FORMULARIOS */
.form-group input{
    height: 35px;
    font-size: 18px;
    padding-left: 54px;
    border: 1px black solid;
}

/* ESTILOS PARA EL TEXTAREA DEL FORMULARIO DE REGISTRO TRACKING */
.form-group textarea{
    font-size: 18px;
    padding-left: 54px;
    border: 1px black solid;
}

/* ESTILOS PARA LOS BOTONES DE LOS FORMULARIOS Y VISTAS*/
-button{
    width: 10%;
    margin: 15px 0 2px;
}

/* ESTILOS PARA LAS FUENTES DE LOS TITULOS */
.font-c1{
	font-size: 40px;
}

/* ESTILOS PARA LOS BORDES DE LOS TITULOS*/
.border-c1{
	border-style: double;
	border-width: 10px;
	border-left: none;
	border-right: none;
}


