<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">    
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
	
	<title>Localidad</title>
</head>
<body >

<!-- ********** Insercion del header **************** -->
  	<div th:insert="layout/header :: header"></div> 

<!-- ************** PANEL DE NAVEGACION ******************* -->
	<div class="nav bg-dark pt-3 pb-3 font-weight-bold mb-5 fuente">
	
  			<div class="col-8">
	  			<ul class="nav nav-tabs " th:if="not ${editarLocalidad}">
	  				
	  				<li class="nav-item">
			   			 <a class="nav-link text-white" href="adminPrincipal">Home</a>
					</li>
			
			  		<li class="nav-item">
			   			 <a class="nav-link text-white" href="adminLocalidad">Localidades</a>
			  		</li>

			 		<li class="nav-item">
			   			 <a class="btn btn-primary font-weight-bold " href="adminFormulario"> Añadir Usuario </a>
			  		</li>  
			  		
				</ul>
  			</div>

	  </div>
<!-- ************** FIN DE PANEL DE NAVEGACION ******************* -->

<!-- **************** Cuerpo de la Pagina Principal *********************  -->
	<div class="container-fluid fuente">

		<div class="row justify-content-center mb-4">
			<h1 class=" w-50 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">GESTOR DE LOCALIDADES</h1>
		</div>

		<div class="row justify-content-center">
			<div class="col-12 col-md-4">
				<div class="text-center text-white bg-dark pt-2 pb-2">
					<h4 th:text="${titulo}"></h4>
				</div>
				<form class="form pt-4" th:object="${localidadForm}" th:action="@{/adminLocalidad}" method="post" autocomplete="off">
					
					<input type="hidden" th:field="*{id}" /> 
					
					<div class="form-group"> 
						 <label for="Localidad">Nombre de Localidad</label>
   						 <input type="text" class="form-control border border-dark border-top-0 border-left-0 border-right-0 " placeholder="Ingrese Nombre" th:field="${localidadForm.nombre}">
						<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
					</div>
					
					<div class="form-group" th:if="${editarLocalidad}" >
						<a th:href="@{/editarLoc/cancelar}" type="button" class="btn btn-danger btn-lg col-5 float-left">Cancelar</a>
						<button type="button" name="Registrar" value="Guardar" class="btn btn-primary btn-lg col-5 float-right " 
						th:text="${guardarLocalidad}?'Guardar':'Guardar Cambios'" data-toggle="modal" data-target="#guardarLocalidad"> button</button>
					</div>
					
					<div class="alert-danger text-center mb-3" th:if="${formErrorMessage}" th:text="${formErrorMessage}" >Name Error</div>
					
					<div class="form-group" th:if="${guardarLocalidad}" >
						<button type="button" name="Registrar" value="Guardar" class="btn btn-primary btn-lg col-5 float-right col-12 " 
						th:text="${guardarLocalidad}?'Guardar':'Guardar Cambios'" data-toggle="modal" data-target="#guardarLocalidad"> button</button>
					</div>
					
					
				<!-- Modal para guardar y editar Localidad -->
					<div class="modal fade" id="guardarLocalidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header bg-dark text-white">
					        <h5 class="modal-title" id="exampleModalLabel">Guardar Cambios</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body" th:if="${guardarLocalidad}">
					        Presione "confirmar" para guardar nueva Localidad
					      </div>
					      <div class="modal-body" th:if="${editarLocalidad}">
					        Presione "confirmar" para guardar cambios establecidos en el Registro
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					       	<input class="btn btn-primary" value="Confirmar "  type="submit">
					      </div>
					    </div>
					  </div>
					</div>
		<!-- Termina Modal -->
				</form>
			</div>

			<div class="col-12 col-md-6 pt-4 pt-md-0">
				<div class="text-center text-white bg-dark pt-2 pb-2">
					<h4>LISTA</h4>
				</div>
				<div class="table-wrapper-scroll-y my-custom-scrollbar mb-4">
				<table class="table table-reponsive table-striped ">
					<thead>
						<tr>
							<th>ID</th>
							<th>Localidad</th>
							<th class="text-center">Accion</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="localidad : ${listaLocalidades}">
							<td th:text="${localidad.id}"></td>
							<td th:text="${localidad.nombre}"></td>
							<td class="text-center">
								<a th:href="@{/editarLoc/}+${localidad.id}" type="button" class="btn btn-primary"> Editar</a>
								<a href="#"  th:onclick="'javascript:confirmarEliminar(\''+${localidad.id}+'\');'" type="button" class="btn btn-danger">Eliminar</a>
							</td>
						</tr>
					</tbody>
					
				</table>
				
					<!-- Script para ralizar la eliminacion de lodalidad -->
					
					<script type="text/javascript">
					
						function confirmarEliminar(id){
							$('#deleteLocalidad').modal('show');
							$("#idModalBajaLocalidad").val(id);
						}
						
						function eliminarLocalidad(){
							var id= $("#idModalBajaLocalidad").val();
							window.location= "eliminarLoc/"+id;
						}
					
					</script>
						
					<!-- Modal -->
					<div class="modal fade" id="deleteLocalidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header bg-dark text-white">
					        <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ¿Esta seguro de eliminar Registro?
					      </div>
					      <input type="hidden" id="idModalBajaLocalidad" name="userIdHiddenInput"/>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					       	<button class="btn btn-primary" th:onclick="eliminarLocalidad()">Confirmar</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Termina Modal -->
				
				</div>
			</div>
			
		</div>
	
	</div>

	<!-- Insercion del fragmento footer utlizando thymeleaf   -->
	<div th:insert="layout/footer :: footer"></div>

</body>
</html>