<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <title>Hello, world!</title>
  </head>

  <body class="container-fluid">

	<div th:insert="layout/header :: header"></div>
	
	  	<div class=" pb-5 contenedor-cuerpo">

  		<div class="nav bg-dark pt-3 pb-3 font-weight-bold">
  			<div class="col-8">
  			<ul class="nav nav-tabs ">
		  		<li class="nav-item">
		   		 	<a class="nav-link text-white " href="#">Ver Todo</a>
		  		</li>

		  		<li class="nav-item">
		    		<a class="nav-link text-white" href="#">Registradores</a>
		  		</li>

		  		<li class="nav-item">
		   			 <a class="nav-link text-white" href="#">Consultores</a>
		  		</li>

		 		<li class="nav-item">
		   			 <a class="btn btn-primary font-weight-bold " href="adminFormulario">Añadir Usuario</a>
		  		</li>  
			</ul>

  		</div>
  		
		<div class="col-4 pr-4">
			<form class=" float-right form-inline my-2 my-lg-0">
	     		<input class="form-control mr-sm-2" type="search" placeholder="Search by dni" aria-label="Search">
	    	  	<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
	    	</form>
		</div>
	  	</div>
  	<div class="container tablaa">
  		<div class="row mt-4 mb-3 justify-content-center ">
  			<!--<div class="col-12 align-items-center">-->
  				<h1 class="text-white "> Lista de Usuarios</h1>
  			<!--</div>-->
  			
  		</div>
  		<table class="table table-reponsive-sm text-white ">
	  <thead>
	    <tr>
	      <th scope="col">Nombre De Usuario</th>
	      <th scope="col">Password</th>
	      <th scope="col">Nombre Real</th>
	      <th scope="col">Apellido</th>
	      <th scope="col">Tipo de Usuario</th>
	      <th scope="col">Accion</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>@mdo</td>
	      <td>
	      	<button type="button" class="btn btn-primary">Editar</button>
			<button type="button" class="btn btn-danger">Eliminar</button>
	      </td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	      <td>@mdo</td>
	       <td>
	      	<button type="button" class="btn btn-primary">Editar</button>
			<button type="button" class="btn btn-danger">Eliminar</button>
	      </td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Larry</td>
	      <td>the Bird</td>
	      <td>@twitter</td>
	      <td>@mdo</td>
	    </tr>
	  </tbody>
	</table>
  	</div>
  		
  	</div>


	
	<!-- Insercion del fragmento footer utlizando thymeleaf  -->
	<div th:insert="layout/footer :: footer"></div>

 
  </body>
</html>