<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">

<title>adminPrincipal</title>
</head>

<body>


	<!-- ---------------------------------------------------- -->
	<!-- ********** INSERCION DEL FRAGMENTO HEADER ********** -->
	<!-- ---------------------------------------------------- -->
	<div th:insert="layout/headerDos :: headerDos"></div>

	<!-- ---------------------------------------------------- -->
	<!-- ************** PANEL DE NAVEGACION ***************** -->
	<!-- ---------------------------------------------------- -->

	<div class="nav bg-dark pt-3 pb-3 font-weight-bold mb-5 fuente">
		<div class="col-8">
			<ul class="nav nav-tabs ">

				<li class="nav-item"><a class="nav-link text-white" th:href="@{/adminLocalidad}">Localidades</a></li>

				<li class="nav-item"><a class="btn btn-primary font-weight-bold " th:href="@{/adminFormulario}">Añadir Usuario</a></li>
			</ul>

		</div>

		<!-- ---------------------------------------------------- -->
		<!-- ************** FORMULARIO DE BUSQUEDA ************** -->
		<!-- ---------------------------------------------------- -->

		<div class="col-4 pr-4" th:if="${principal}">
			<form class=" float-right form-inline my-2 my-lg-0"
				th:object="${usuarioBuscado}" th:action="@{/adminBusqueda}"
				method="post">
				<input class="form-control mr-sm-2"
					th:field="${usuarioBuscado.nombreUsuario}" type="search"
					placeholder="Search by Nombre Usuario" aria-label="Search">
				<input class="btn btn-primary my-2 my-sm-0" type="submit"
					value="BUSCAR">
			</form>
		</div>
	</div>
	<!-- ************* COMPONENTE DEL FORMULARIO DE BUSQUEDA PARA NOTIFICAR MENSAJES ******************* -->
	<div class="alert alert-danger text-center" th:if="${errorBusqueda}"
		th:text="${errorBusqueda}">Message Error</div>
		
	<!-- ---------------------------------------------------- -->
	<!-- *********** CUERPO GESTOR DE USUARIOS ************** -->
	<!-- ---------------------------------------------------- -->

	<div class="container fuente">

		<div class="btn-group mb-5 ">
			<a class="btn btn-primary btn-lg" th:href="@{/adminPrincipal}">Lista de usuarios </a> 
			<a class="btn btn-primary btn-lg" th:href="@{/Registrador}"> Registradores </a> 
			<a class="btn btn-primary btn-lg" th:href="@{/Consultor}">Consultores </a> 
			<a class="btn btn-danger btn-lg" th:href="@{/Suspendido}"> Suspendidos </a>
		</div>

		<div>
			<!-- *** SEGUN LA PESTAÑA SOLICITADA SE INSERTA EL TITUO CORRESPONDIENTE  **** -->
			<div class="row justify-content-center mb-4">
				<h1 class=" w-100 p-2 text-center " style="border-top: 3px dodgerblue solid; 
				border-bottom: 3px dodgerblue solid;" th:text="${tituloPrincipal}">GESTOR</h1>
			</div>

			<!-- ************** TABLA PARA EFECTUAR EL LISTADO DE USUARIOS **************  -->
			<div class="my-custom-scrollbar1 table-wrapper-scroll-y mb-5">
				<table class="table table-reponsive-sm table-striped">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Apellido</th>
							<th scope="col">Nombre</th>
							<th scope="col">Usuario</th>
							<th scope="col">Tipo de Usuario</th>
							<th th:if="${busqueda} or ${suspendido}" scope="col">Estado</th>
							<th scope="col">Accion</th>
						</tr>
					</thead>

					<tbody>
					
						<tr th:each="usuario : ${listaUsuarios}" th:if="${usuario.tipoUsuario ne 'BD'}">
							
							<th th:text="${usuario.id}"></th>
							<td th:text="${usuario.apellidoReal}"></td>
							<td th:text="${usuario.nombreReal}"></td>
							<td th:text="${usuario.nombreUsuario}"></td>													
							<td th:text="${usuario.tipoUsuario}"></td>
							<td th:if="${busqueda} or ${suspendido}"
								th:text="${usuario.estado==true}?'Habilitado':'Inhabilitado'">
							</td>
							<td><a class="btn btn-primary"
								th:href="@{'/editarUsuario/'+${usuario.id}}">Editar</a> <a
								th:if="not ${suspendido} and not ${busqueda}" href="#"
								class="btn btn-danger"
								th:onclick="'javascript:confirmarEliminar(\''+${usuario.id}+'\');'">Eliminar</a>
							</td>
							
						</tr>

					</tbody>

				</table>
				<!-- ************ COMPONENTE PARA NOTIFICAR EVENTOS **************  -->
				<div class="alert alert-danger text-center" th:if="${listErrorMessage}" 
				th:text="${listErrorMessage}">Error MEssage</div>
				
			</div>
			
			<!-- ---------------------------------------------------- -->
			<!-- *********** SCRIPT DE ELIMINACION  ***************** -->
			<!-- ---------------------------------------------------- -->

			<script type="text/javascript">
			function confirmarEliminar(id){
				$('#bajaUsuario').modal('show');
				$("#idModalBajaUsuario").val(id);
			}
			
			function eliminarUsuario(){
				var id= $("#idModalBajaUsuario").val();
				window.location= "eliminarUsuario/"+id;
			}
		
			</script>

			<!-- ---------------------------------------------------- -->
			<!-- *********** MODAL DE ELIMINACION  ****************** -->
			<!-- ---------------------------------------------------- -->

			<div class="modal fade" id="bajaUsuario" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header bg-dark text-white">
							<h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mt-3 mb-3">
							<h4>Presione confirmar para dar de baja al usuario</h4>
						</div>
						<input type="hidden" id="idModalBajaUsuario"
							name="userIdHiddenInput" />
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button class="btn btn-primary" th:onclick="eliminarUsuario()">Confirmar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ********** FIN DE MODAL DE ELIMINACION ********************* -->
		</div>
	</div>

	<!-- ---------------------------------------------------- -->
	<!-- *********** INSERCION DEL FOOTER ******************* -->
	<!-- ---------------------------------------------------- -->

	<div th:insert="layout/footer :: footer"></div>

</body>
</html>