<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">

<title>Admin</title>
</head>

<body>

	<!-- -------------------------------------------------------------- -->
	<!-- ***************** INSERCION DEL HEADER *********************** -->
	<!-- -------------------------------------------------------------- -->
	<div th:insert="layout/headerDos :: headerDos"></div>

	<!-- -------------------------------------------------------------- -->
	<!-- ***************** PANEL DE NAVEGACION ************************ -->
	<!-- -------------------------------------------------------------- -->
	<div class="nav bg-dark pt-3 pb-3 font-weight-bold fuente">
		<div class="col-8">

			<ul class="nav nav-tabs ">
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/adminPrincipal}">Home </a></li>

				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{adminLocalidad}">Localidades </a></li>

				<li class="nav-item"><a
					class="btn btn-primary font-weight-bold disabled"
					href="adminFormulario">Añadir Usuario </a></li>
			</ul>

		</div>
	</div>

	<!-- -------------------------------------------------------------- -->
	<!-- **************** CONTENEDOR DE FORMULARIO ******************** -->
	<!-- -------------------------------------------------------------- -->
	<div class="container-fluid bg-white">
		<div class="row justify-content-center fuente pt-4 pb-4 ">
			<div
				class="col-11 col-md-4 bg-primary text-center text-white lateral">
				<div>
					<i class="fas fa-user-plus fa-7x"></i>
					<h3>
						FORMULARIO<br> NUEVO USUARIO
					</h3>
				</div>
			</div>

			<div class="col-11 col-md-6 border border-primary pt-4 pb-4">
				<h4>Informacion del Usuario</h4>
				
					<!-- -------------------------------------------------------------- -->
					<!-- *********************** FORMULARIO *************************** -->
					<!-- -------------------------------------------------------------- -->
				<form class="form col-11 " role="form" autocomplete="off"
					th:object="${usuarioDelForm}"
					th:action="${editMode}?@{/editarUsuario}:@{/adminFormulario}"
					method="post">

					<input type="hidden" class="form-control border-primary border-top-0 
					border-left-0 border-right-0 "th:field="${usuarioDelForm.id}" th:if="${editMode}"> 
						
					<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0 "
						th:field="${usuarioDelForm.nombreUsuario}" th:if="${editMode}">
						
					<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0"
						th:field="${usuarioDelForm.password}" th:if="${editMode}">


					<div class="form-group"
						th:if="${editMode==null or editMode==false}">
						<label for="nombreUsuario">Nombre de Usuario</label> 
						<input type="text" placeholder="Nombre de Usuario"
							class="form-control border-primary border-top-0 border-left-0 border-right-0 "
							th:field="${usuarioDelForm.nombreUsuario}">
						
						<!-- ***************** MENSAJE SI EL CAMPO NOMBRE DE USUARIO ESTA VACIO  -->	
						<div class="alert-danger" th:if="${#fields.hasErrors('nombreUsuario')}"
							th:errors="*{nombreUsuario}">Name Error</div>
					</div>

					<div class="form-group"
						th:if="${editMode==null or editMode==false}">
						<label for="password">Password</label> 
						<input type="password" placeholder="Password"
							class="form-control border-primary border-top-0 border-left-0 border-right-0"
							th:field="${usuarioDelForm.password}">
						<!-- ******* ELEMENTO PARA MOSTRAR ERRORES DE VALIDACION ******  -->	
						<div class="alert-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Name Error</div>
					</div>

					<div class="form-group">
						<label for="nombreReal">Nombre Real del Usuario</label> 
						<input type="text" placeholder="Nombre Real del Usuario"
							class="form-control border-primary border-top-0 border-left-0 border-right-0"
							th:field="${usuarioDelForm.nombreReal}">
							
						<!-- ******* ELEMENTO PARA MOSTRAR ERRORES DE VALIDACION ******  -->
						<div class="alert-danger"
							th:if="${#fields.hasErrors('nombreReal')}"
							th:errors="*{nombreReal}">Name Error</div>
					</div>

					<div class="form-group">
						<label for="apellidoReal">Apellido Real del Usuario</label> 
						<input type="text" placeholder="Apellido Real del Usuario"
							class="form-control border-primary border-top-0 border-left-0 border-right-0"
							th:field="${usuarioDelForm.apellidoReal}">
							
						<!-- ******* ELEMENTO PARA MOSTRAR ERRORES DE VALIDACION ******  -->	
						<div class="alert-danger"
							th:if="${#fields.hasErrors('apellidoReal')}"
							th:errors="*{apellidoReal}">Name Error</div>
					</div>


					<div class="row">

						<!-- **************** SELECCION DE TIPO DE USUARIO  (Consultor-Registrador )******************* -->

						<div class=" form-group col-12 col-md-6 ">
							<div class="col-form-label text-center">
								<h5>Tipo de Usuario</h5>
							</div>
							<div class="col-12 ">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios"
										id="gridRadios1" value="REGISTRADOR"
										th:field="${usuarioDelForm.tipoUsuario}" checked> <label
										class="form-check-label" for="gridRadios1">
										REGISTRADOR </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios"
										id="gridRadios2" value="CONSULTOR"
										th:field="${usuarioDelForm.tipoUsuario}"> <label
										class="form-check-label" for="gridRadios2"> CONSULTOR
									</label>
								</div>
								<!-- ******* ELEMENTO PARA MOSTRAR ERRORES DE VALIDACION ******  -->
								<div class="alert-danger"
									th:if="${#fields.hasErrors('tipoUsuario')}"
									th:errors="*{tipoUsuario}">Name Error</div>

							</div>
						</div>

						<!-- ********* SELECCION DE ESTADO DE USUARIO  (TRUE->ACTIVO / FALSE->DADO DE BAJA ************ -->
						
						<div th:if="${editMode}" class="col-12 col-md-6 ">

							<div class="form-group col-form-label text-center">
								<h5>Estado de Usuario</h5>
							</div>
							<div class="col-12 ">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="estado"
										id="estadoRadios1" value="true"
										th:field="${usuarioDelForm.estado}"> <label
										class="form-check-label" for="estadoRadios1">
										HABILITADO </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="estado"
										id="estadoRadios2" value="false"
										th:field="${usuarioDelForm.estado}"> <label
										class="form-check-label" for="estadoRadios2">
										INHABILITADO </label>
								</div>
							</div>
							<!-- ******* ELEMENTO PARA MOSTRAR ERRORES DE VALIDACION ******  -->
							<div class="alert-danger" th:if="${#fields.hasErrors('estado')}"
								th:errors="*{estado}">Name Error</div>
						</div>

					</div>


					<div class="form-group row justify-content-end mt-4">
						<div>

							<a th:href="@{/editarUsuario/cancelar}" type="button"
								class="btn btn-danger">CANCELAR</a>
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#guardarUsuario"
								th:text="${editMode}?'GUARDAR CAMBIOS':'REGISTRAR'">texto</button>
						</div>
					</div>


					<div class="alert-danger text-center" th:if="${formError}"
						th:text="${formError}">Name Error</div>

					<!-- -------------------------------------------------------------- -->
					<!-- *********************** MODAL DE GUARDAR ********************* -->
					<!-- -------------------------------------------------------------- -->
					<div class="modal fade" id="guardarUsuario" tabindex="-1"
						role="dialog" aria-labelledby="agregarModalTitulo"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header bg-dark text-white">
									<h5 class="modal-title " id="agregarModalTitulo">CONFIRMAR
										TRANSACCION</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!--  LOS BOTONES CAMBIAN SI ESTAN EN MODO EDICION  -->
								<div class="modal-body" th:if="${editMode}">
									<h6>Presione "CONFIRMAR" para guardar cambios en el
										registro</h6>
								</div>
								<div class="modal-body" th:if="!${editMode}">
									<h6>Presione "CONFIRMAR" para crear nuevo usuario</h6>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger"
										data-dismiss="modal">CANCELAR</button>
									<input type="submit" class="btn btn-primary"
										value="Save Changes" th:value="CONFIRMAR">
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!-- Insercion del fragmento footer utlizando thymeleaf -->
	<div th:insert="layout/footer :: footer"></div>

</body>
</html>