<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">

    <title>adminPrincipal</title>
  </head>

  <body>
  	
  		
  	<!-- ********** Insercion del header **************** -->
  	<div th:insert="layout/header :: header"></div> 

<!-- **************** insercion de la barra de navegacion*********************  -->
  		<div class="nav bg-dark pt-3 pb-3 font-weight-bold mb-5 fuente">
  			<div class="col-8">
	  			<ul class="nav nav-tabs ">
					
			  		<li class="nav-item">
			   			 <a class="nav-link text-white" th:href="@{/adminLocalidad}">Localidades</a>
			  		</li>

			 		<li class="nav-item">
			   			 <a class="btn btn-primary font-weight-bold " th:href="@{/adminFormulario}">Añadir Usuario</a>
			  		</li>  
				</ul>

  			</div>
  		
			<div class="col-4 pr-4" th:if="${principal}">
				<form class=" float-right form-inline my-2 my-lg-0" th:object="${usuarioBuscado}" th:action="@{/adminBusqueda}" method="post"> <!-- th:object="${usuarioBuscado}" th:action="@{/buscarDni}" method="post" --> 
		     		<input class="form-control mr-sm-2" th:field="${usuarioBuscado.nombreUsuario}" type="search" placeholder="Search by Nombre Usuario" aria-label="Search"> <!--  th:field="${usuarioBuscado.dni}" -->
		    	  	<input class="btn btn-primary my-2 my-sm-0" type="submit" value="BUSCAR">
		    	</form>
			</div>
	  	</div>
<!-- **************** Find de la barra de navegacion*********************  -->



<!-- **************** Cuerpo Gestor de Usuarios *********************  -->
<div class="alert alert-danger text-center" th:if="${errorBusqueda}" th:text="${errorBusqueda}">Message Error</div>

<div class="container fuente">

	<div class="btn-group mb-5 ">
		<a class="btn btn-primary btn-lg" th:href="@{/adminPrincipal}" >
		Lista de usuarios
		</a>
		
		<a class="btn btn-primary btn-lg" th:href="@{/adminPrincipal/Registrador}">
		Registradores
		</a>
		
		<a class="btn btn-primary btn-lg" th:href="@{/adminPrincipal/Consultor}" >
		Consultores
		</a>
	</div>

		
<!-- **************** Cuerpo Gestor de Usuarios *********************  -->



		<div>

			<div class="row justify-content-center mb-4" th:if="${principal}">
				<h1 class=" w-100 p-2 text-center "
					style="border-top: 3px dodgerblue solid; border-bottom: 3px dodgerblue solid;">GESTOR
					DE USUARIOS</h1>
			</div>
			
			<div class="row justify-content-center mb-4" th:if="${registrador}">
				<h1 class=" w-100 p-2 text-center "
					style="border-top: 3px dodgerblue solid; border-bottom: 3px dodgerblue solid;">REGISTRADORES</h1>
			</div>
			
			<div class="row justify-content-center mb-4" th:if="${consultor}">
				<h1 class=" w-100 p-2 text-center "
					style="border-top: 3px dodgerblue solid; border-bottom: 3px dodgerblue solid;">CONSULTORES</h1>
			</div>
			
			
			<div class="my-custom-scrollbar1 table-wrapper-scroll-y">
				<table class="table table-reponsive-sm table-striped">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Usuario</th>
							<th scope="col">Password</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Tipo de Usuario</th>
							<th scope="col">Accion</th>
						</tr>
					</thead>

					<tbody>
						
						
						<tr th:each="usuario : ${listaUsuarios}">
							<th th:text="${usuario.id}"></th>
							<td th:text="${usuario.nombreUsuario}"></td>
							<td th:text="${usuario.password}"></td>
							<td th:text="${usuario.nombreReal}"></td>
							<td th:text="${usuario.apellidoReal}"></td>
							<td th:text="${usuario.tipoUsuario}"></td>
							<td><a class="btn btn-primary"
								th:href="@{'/editarUsuario/'+${usuario.id}}">Editar</a> <a
								class="btn btn-danger"
								th:href="@{'/eliminarUsuario/'+${usuario.id}}">Eliminar</a></td>
						</tr>

					</tbody>
				
				</table>
			
				<div class="alert alert-danger text-center"
				th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error
				MEssage</div>
			</div>
			

		</div>

		<!-- ********** FIn Gestor de Usuarios **************** -->	
	 
 	</div>
  	
  			
	<!-- Insercion del fragmento footer utlizando thymeleaf --> 
	<div th:insert="layout/footer :: footer"></div> 

	</body>
</html>