<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/consultas.css}">
		
		<title>Tripulante</title>
	</head>
	
	<body>
	
		<!-- ------------------------------ -->
		<!-- ********** CABEZERA ********** -->
		<!-- ------------------------------ -->
		<header th:insert="layout/header :: header"></header>
		
		
		<!-- -------------------------------- -->
		<!-- ********** NAVEGACION ********** -->
		<!-- -------------------------------- -->
		<!-- Propiedades destacada: nav= d.flex | nav-tabs=colorBorder | m= margin-->
		<nav class="col-11 m-auto nav nav-tabs pt-3">
			<!-- Propiedades a destacar: nav-item= flex| nav-link y active= borderColor | -->
		    <a class="nav-link active" href="vehiculos">Vehiculos</a>
		    <a class="nav-item nav-link active btn-primary" href="tripulante">Tripulante</a>
		    <a class="nav-link active" href="patente">Patente</a>
		</nav>
			
		
		<!-- ----------------------------- -->
		<!-- ********** SECCION ********** -->
		<!-- ----------------------------- -->		
		<!--mb= margin bottom-->
		<section class="mb-5">
			<!-- my = margin top/bottom | btn-link= subrayado-->
			<div class="col-md-12 text-center my-5 btn-link text-dark px-5">
				<h2 class="col-xl-6 col-lg-8 col-md-10 m-auto p-4 border-info font-c1 border-c1">Listado de recorrido por Tripulante</h2>
			</div>
			
			
			<!-- ----------------------------------------- -->
			<!-- ********** FORMULARIO-BUSQUEDA ********** -->
			<!-- ----------------------------------------- -->
			<!-- Propiedades a destacar: form-inline= d.flex | mr= margin right-->
			<form th:action="@{/searchTripulante}" th:object="${modeloTripulante}" method="post" class="col-12 row form-inline justify-content-end  mt-5 mb-5 mr-sm-4">
				<!-- rounded= redondeo | border/secondary= border/Color -->
				<div class="d-flex rounded-left border border-secondary">
					<!-- Propiedades a destacar: form-group/form-control= color/border/font-->
					<input th:field="${modeloTripulante.documento}"  type="text" class="form-group form-control  rounded-0 m-0 border-0" placeholder="ingresarDocumento">
					<!-- btn/primary= colores/bordes-->
					<button type="submit" class="btn btn-info rounded-0 border-0">
						<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
							<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
						</svg>
					</button>
				</div>
			</form>
			
			<!-- ---------------------------------------- -->
			<!-- ********** MENSAJES DE ERROES ********** -->
			<!-- ---------------------------------------- -->
			
			<div th:if="${#fields.hasErrors('modeloTripulante.documento')}" th:errors="${modeloTripulante.documento}" class="alert-danger text-center">Error si el objeto esta vacio</div>
			<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert-danger text-center">Error si no encuentra el objeto</div>
			
			
			<!-- -------------------------------------------------------------------------- -->
			<!-- ********** CONTENERDOR -> INFO-TRIPULANTE / REGISTRO-TRIPULANTE ********** -->
			<!-- -------------------------------------------------------------------------- -->
			<!--Propiedades destacar: table-responsive-xl= overflow | m= margin-->	
			<div th:if="${activo==true}" class="col-sm-12 mt-5 d-flex table-responsive-xl">
				
				
				<!-- ------------------------------------------------- -->
				<!-- ********** CONTENERDOR -> INFO-TRIPULANTE ********** -->
				<!-- ------------------------------------------------- -->
				<div class="col-auto mx-auto min-width-2">
					<!-- Propiedad destacar: card/border= border/Colores -->
					<div class="card shadow-sm border-info">
						<!-- Propiedad destacar: card-header= padding | bg-info= background-color-->
						<h2 class="card-header text-center bg-info font-weight-normal">Info del Tripulante</h2>
						<!-- Propiedad destacar: card-body= padding -->
						<div class="card-body">
							<!-- Propiedad destacar: table= color/bordes-->
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">DNI</th>
										<th scope="col">Apellido</th>
										<th scope="col">Nombre</th>
										<th scope="col">Nacionalidad</th>
									</tr>
								</thead>
									
								<tbody>
									<tr th:each="t:${datoTripulante}">
										<td th:text="${t.documento}"></td>
										<td th:text="${t.apellido}"></td>
										<td th:text="${t.nombres}"></td>
										<td th:text="${t.nacionalidad}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				
				<!-- ------------------------------------------------------ -->
				<!-- ********** CONTENERDOR -> RECORRIDO-TRIPULANTE ********** -->
				<!-- ------------------------------------------------------ -->
				<div class="col-sm-7 min-width-1">
					<!-- Propiedad destacar: card/border= border/Colores -->	
					<div class="card border-info shadow-sm">
						<!-- Propiedad destacar: card-header= padding | bg-info= background-color-->	
						<h2 class="card-header text-center bg-info font-weight-normal">Recorrido del Tripulante</h2>
						<!-- Propiedad destacar: card-body= padding -->
						<div class="card-body">
							<!-- Propiedad destacar: table= color/bordes-->	
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Patente-Vehiculo</th>
										<th scope="col">Fecha-Hora</th>
										<th scope="col">Localidad</th>
										<th scope="col">Detalle-Registro</th>
									</tr>
								</thead>
									
								<tbody>
									<tr th:each="r:${registroTripulante}">
										<td th:text="${r.vehiculos.patente}"></td>
										<td th:text="${r.fecha}"></td>
										<td th:text="${r.localidad.nombre}"></td>
										<td th:text="${r.detalleLugarRegistro}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</section>
		
		<aside></aside>
		<footer th:insert="layout/footer :: footer"></footer>
	</body>
</html>