<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilos.css"/>
	<title>Login</title>
</head>

<body class="contenedor">
	
	<!-- Insercion del fragmento header utilizando thymeleaf  -->
	<div th:insert="layout/header :: header"></div>
	
	
	<div class="login-box">
		<h1>Login</h1>
		<div class="textbox">
			<i class="fa fa-user" aria-hidden="true"></i> <input type="text"
				placeholder="Usuario" name="" value="">
		</div>
		<div class="textbox">
			<i class="fa fa-lock" aria-hidden="true"></i> <input type="password"
				placeholder="Contraseña" name="" value="">
		</div>
		<input class="btn-login" type="button" name="" value="Entrar">
	</div>
	
	
</body>
	<div th:insert="layout/footer :: footer"> 
	</div>
</html>