<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/consultas.css">
		<title>Patente</title>
	</head>
	
	<body>
		<header th:insert="layout/header :: header"></header>
		<!-- Propiedades destacada: container-sm min-with 576px = max-with 540px, flex-wrap | mb= margin bottom-->
		<section class="container-sm mb-5 ">
			<!-- Propiedades destacada: nav= flex-wrap, d.flex | nav-tabs=colorBorder -->
			<nav class="nav nav-tabs mt-3" >
				<!-- Propiedades a destacar: nav-item= flex| nav-link y active= borderColor | w=width-->
				<a class="nav-link active" href="localidad">Localidad</a>
				<a class="nav-link active" href="tripulante">Tripulante</a>
				<a class="nav-item nav-link active" href="patente">Patente</a>
			</nav>
			
			<!-- mt/b = margin top/bottom -->
			<h2 class="text-center mt-5 mb-5">Listado Recorrido por Patente</h2>
				
			<!-- Propiedades a destacar: form-inline= d.flex, flex-wrap -->	
			<form class="form-inline justify-content-end mt-5 mb-5" method="get">
				<!-- Propiedades a destacar: form-group/form-control= color/border/font -->
				<input type="text" class="form-group form-control mx-sm-3" placeholder="nombrePatente">
				<!-- btn/primary= colores/bordes -->
				<button type="submit" class="btn btn-primary" >Buscar Patente</button>
			</form>
			
			<!-- Propiedad destacar: card= d.flex, border/colores ,p= padding | row= flex-wrap | p/m= paddin/margin-->
			<div class="col-sm-12 card overflow-auto row p-0 m-0">
				<!-- Propiedad destacar: card-header= colores  -->
				<h2 class="card-header text-center">Informacion del Vehiculo</h2>
				<!-- Propiedad destacar: card-body= flex, padding -->
				<div class="card-body">
					<!-- Propiedad destacar: table= color/bordes | table-sm padding -->
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th scope="col">Titular</th>
								<th scope="col">Patente</th>
								<th scope="col">Modelo</th>
								<th scope="col">Marca</th>
								<th scope="col">Tipo</th>
								<th scope="col">NumeroChasis</th>
								<th scope="col">NumeroMotor</th>
								<th scope="col">Color</th>
							</tr>
						</thead>
							
						<tbody>
							<tr>
								<td>Rrrrrrrrr</td>
								<td>ARG 1575 4</td>
								<td>G21</td>
								<td>Ford</td>
								<td>RGBSA</td>
								<td>50</td>
								<td>Ltr156</td>
								<td>Blanco</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
				
			<!--Propiedades destacar: d-flex= display flex | p= padding-->	
			<div class="col-sm-12 mt-5 d-flex overflow-auto  p-1">
				<div class="col-sm-7 min-width-md">	
					<!-- Propiedad destacar: card= d.flex, border/colores -->
					<div class="card">
						<!-- Propiedad destacar: card-header= colores  -->
						<h2 class="card-header text-center ">Recorrido de la Patente</h2>
						<!-- Propiedad destacar: card-body= flex, padding -->
						<div class="card-body ">	
							<!-- Propiedad destacar: table= color/bordes | table-sm padding -->
							<table class="table table-sm table-hover">
								<thead>
									<tr>
										<th scope="col">Fecha-Hora</th>
										<th scope="col">Localidad</th>
										<th scope="col">Detalle-Registro</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td>15/06/2020 17:35 hs</td>
										<td>S.S. Jujuy</td>
										<td>Hola hola hola...</td>
									</tr>
				
									<tr>
										<td>15/06/2020 22:54 hs</td>
										<td>Humahuaca</td>
										<td>Hola hola hola...</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>		
					
				<div class="col-sm-5 min-width-sm">	
					<div class="card ">	
						<h2 class="card-header text-center">Tripulantes</h2>
						<div class="card-body">	
							<table class="table table-sm table-hover">
								<thead>
									<tr>
										<th scope="col">DNI</th>
										<th scope="col">Apellido</th>
										<th scope="col">Nombre</th>
										<th scope="col">Nacionalidad</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td>15458759</td>
										<td>Ccccc1</td>
										<td>Eeeee1</td>
										<td>Argentinaa</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</section>
		
		<div th:insert="layout/footer :: footer"></div>		
	</body>
</html>