<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/registrador.css"/>
	
	<title>Registrador de Vehiculos </title>
</head>
	
	<body class="fondo" >
	<div th:insert="layout/header :: header"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-11 bg-light mx-auto my-1 fondoUno"> <!-- CONTENEDOR-FORMULARIO -->
					<div class="row">
							<div class="col-md-12 text-center mx-auto">
			 					<hr>
			 					<h1> REGISTRO DE VEHICULOS </h1>
			 					<hr>
			 				</div>
					</div>
					
					<div class="row ">
						<div class="col-md-4 my-2 mx-auto" >
								<div class="form-group" id="patente">
								<input type="text" class="form-control" placeholder="PATENTE"
								name="pat" />
								</div>
							
								<div class="form-group" id="color">
								<input type="text" class="form-control" placeholder="COLOR"
								name="clr" />
								</div>
						</div>
						
						<div class="col-md-4 mb-3">
							<select class="custom-select text-black "  size="4"  multiple>
								<option class="bg-dark text-white text-center font-weight-bold"
								selected disabled value="">LOCALIDAD</option>
								<option value="1">Uno</option>
								<option value="2">Dos</option>
								<option value="3">Tres</option>
								<option value="4">Cuatro</option>
								<option value="5">Cinco</option>
								<option value="6">Seis</option>
								<option value="7">Siete</option>
								<option value="8">Ocho</option>
							</select>
						</div>
						
						<div class="col-md-4 my-1 mx-auto" >
								<div class="form-group " id="chasis">
								<input type="text" class="form-control" placeholder="N° CHASIS"
								name="chas" />
								</div>

								<div class="form-group" id="motor">
								<input type="text" class="form-control" placeholder="N° MOTOR"
								name="mtr" />
								</div>
						</div>
					</div> <!--  FIN DE ROW DE LISTA -->
					
					<div class="row">
						<div class="col-md-4">
							<div class="form-group" id="titular">
								<input type="text" class="form-control" placeholder="TITULAR"
								name="tit" />
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group" id="marca">
								<input type="text" class="form-control" placeholder="MARCA"
								name="mar" />
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group" id="modelo">
								<input type="text" class="form-control" placeholder="MODELO"
								name="mod" />
							</div>
						</div>
					</div>
					
				<div class="row">
					<div class="col-md-8 mx-auto">
						<div class="row">
							<div class="col-md-6 mx-auto">
								<select class="custom-select mb-5" id="validationTipo" required>
									<option selected disabled value="">Seleccion el tipo del vehiculo</option>
									<option>Automovil</option>
									<option>Motocileta</option>
									<option>Camion</option>
								</select>
							</div>
							
							<div class="col-md-6 mx-auto">
								<div class="form-group" id="detalles">
								<input type="text" class="form-control" placeholder="DETALLES"
								name="det" />
							</div>
							</div>
						
							
						</div>
					</div>	
				</div>
				
					
				<div class="row">
					<div class="col-md-8 mx-auto mt-1 mb-3">
						<button type="button" class="btn btn-primary btn-lg btn-block">REGISTRAR VEHICULO</button>
					</div>
				</div>	
					
						
				</div> <!-- contenedor principal -->
			
			</div>
			
		</div>
	<div th:insert="layout/footer :: footer"></div>
</body>

</html>