<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Registrador</title>
</head>

<body class="text-center mt-5">
	<h1>REGISTRO DE VEHICULOS Y TRIPULANTES</h1>
	<div class="form-group row ">
		<div class="col-md-6 ml-5">
			<br>
			<p class="text-center bg-dark text-white ">SELECCIONE LOCALIDAD</p>
			<select class="custom-select" multiple>
				<!-- <option selected>SELECCIONE LOCALIDAD </option> -->
				<option value="1">Uno</option>
				<option value="2">Dos</option>
				<option value="3">Tres</option>
				<option value="4">Cuatro</option>
				<option value="5">Cinco</option>
				<option value="6">Seis</option>
			</select> 
			
			<form>
			  <div class="form-group">
			    <label for="patente"></label>
			    <p class="text-center bg-dark text-white ">INGRESE PATENTE</p>
			    <input type="text" class="form-control" id="patente" placeholder="Ingrese la patente del vehiculo">
			  </div>
			  
			  <div class="form-group" >
			    <label for="color"></label>
			    <p class="text-center bg-dark text-white ">INGRESE COLOR</p>
			    <input type="text" class="form-control" id="color" placeholder="Ingrese el color del vehiculo ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="titular"></label>
			    <p class="text-center bg-dark text-white ">INGRESE EL NOMBRE DEL TITULAR DEL VEHICULO</p>
			    <input type="text" class="form-control" id="titular" placeholder="Ingrese el nombre del usuario ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="marca"></label>
			    <p class="text-center bg-dark text-white ">INGRESE MARCA</p>
			    <input type="text" class="form-control" id="marca" placeholder="Ingrese la marca del vehiculo ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="tipo"></label>
			    <p class="text-center bg-dark text-white ">INGRESE MODELO</p>
			    <input type="text" class="form-control" id="tipo" placeholder="Ingrese el modelo del vehiculo ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="tipo"></label>
			    <p class="text-center bg-dark text-white ">INGRESE EL TIPO DEL VEHICULO</p>
			    <input type="text" class="form-control" id="tipo" placeholder="Ingrese el tipo del vehiculo ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="numeroChasis"></label>
			    <p class="text-center bg-dark text-white ">INGRESE EL NUMERO DE CHASIS</p>
			    <input type="number" class="form-control" id="numeroChasis" placeholder="Ingrese el numero del chasis del vehiculo ">
			  </div>
			  
			  <div class="form-group" >
			    <label for="numeroMotor"></label>
			    <p class="text-center bg-dark text-white ">INGRESE NUMERO DE MOTOR</p>
			    <input type="number" class="form-control" id="numeroMotor" placeholder="Ingrese el numero del motor del vehiculo">
			  </div>
			  
			  
			  <button type="button" id="botonVehiculo" class="btn btn-secondary btn-lg btn-block">Terminar carga de datos de vehiculo</button>
			</form>
		</div>
		
		<div class="col-md-5">
			<form>
			  <div class="form-group">
			    <label for="documento"></label>
			    <p class="text-center bg-dark text-white ">INGRESE DOCUMENTO DEL TRIPULANTE</p>
			    <input type="number" class="form-control" id="documento" placeholder="Ingrese el documento del tripulante">
			  </div>
			  
			   <div class="form-group">
			    <label for="apellido"></label>
			    <p class="text-center bg-dark text-white ">INGRESE APELLIDO DEL TRIPULANTE</p>
			    <input type="text" class="form-control" id="apellido" placeholder="Ingrese el/los nombre/s del tripulante">
			  </div>
			  
			   <div class="form-group">
			    <label for="nombres"></label>
			    <p class="text-center bg-dark text-white ">INGRESE NOMBRES DEL TRIPULANTE</p>
			    <input type="text" class="form-control" id="nombres" placeholder="Ingrese el/los nombres del tripulante">
			  </div>
			  
			   <div class="form-group">
			    <label for="nacionalidad"></label>
			    <p class="text-center bg-dark text-white ">INGRESE NACIONALIDAD DEL TRIPULANTE</p>
			    <input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad del tripulante">
			  </div>
			 
			  <button type="button" id="botonTripulanteFin" class="btn btn-secondary btn-lg btn-block">Terminar carga de tripulantes</button>
			  <button type="button" id="botonTripulanteOtro" class="btn btn-secondary btn-lg btn-block">Cargar tripulante y cargar otro</button>
				
			</form>
		</div>
	</div>
	<!-- Insercion del fragmento footer utlizando thymeleaf  -->
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>